<!DOCTYPE html>
<html>
<head>
<title>Login Weekly</title>
<link href="../static/css/AdminLogin.css" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
</script>
</head>
<body>
<form id="login" method="post" action="/Login">
    <h1>login Weekly</h1>
    <fieldset id="inputs">
        <input id="username" name="User_Name" type="text" placeholder="用户名" autofocus required />
        <input id="password" name="User_Pwd" type="password" placeholder="密码" required>
    </fieldset>
        <fieldset id="actions">
        <input ID="submit" type="submit" value="登录" />

    </fieldset>
</form>
</body>
</html>
