{% extends ../ContentUnit/base.html %}

{% block body %}
<script>
    $(function(){
    Request = getUrlRequest(location.href);
    if(Request["UserID"] != null){
        $.ajax({
        type:"GET",
        url:"/UserHandler/?action=GetUserInfo&UserID=" + Request["UserID"],
        success:function(data){
           data=$.parseJSON(data);
           fillFrom(data[0],$("form")[0])
        }
        })
    }
})
</script>
<form class="form-horizontal" style="padding-top:30px" method="post" action="/UserHandler/?action=SubmitUserInfo">

  <div class="control-group">
      <input name="User_ID" type="hidden">
    <label class="control-label" for="inputUserName">UserName</label>
    <div class="controls">
      <input type="text" id="inputUserName" name="User_Name" placeholder="UserName" required>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" name="User_Pwd" placeholder="Password" required>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" name="User_Email" placeholder="Email">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="inputLevel">Level</label>
    <div class="controls">
        <select name="User_Level" id="inputLevel">
            <option value="1">Admin</option>
            <option value="2">Boss</option>
            <option value="3">Worker</option>
        </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary btn-large">DO IT!</button>
    </div>
  </div>
</form>
{% end %}