{% extends ../ContentUnit/base.html %}

{% block body %}
<script src="../static/colorBox/jquery.colorbox-min.js"></script>
<link href="../static/colorBox/colorbox.css" rel="stylesheet">
<script src="../static/js/bootstrap.min.js"></script>
<link href="../static/css/tree.css" rel="stylesheet">
<script type="text/javascript">
$(function(){
   getUserList();
   $("#addUserList").colorbox({iframe:true, width:"600px", height:"400px",rel:'group1'});
   buildTree();
   $("#treeList").css("display","none");
})

function buildTree()
{
   //$('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
   $('.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
   });
 $('.child_li').on('click', function (e) {
        if($("input",$(this))[0].checked==true)
        {
        $("input",$(this))[0].checked=false;
        $(this).find('i').addClass('icon-eye-close').removeClass('icon-eye-open');
        }
        else
        {
        $("input",$(this))[0].checked=true;
        $(this).find('i').addClass('icon-eye-open').removeClass('icon-eye-close');
        }
   });
}


function editUser(id)
{
 $.colorbox({iframe:true, width:"600px", height:"400px",href:'/ViewContentUnit/?action=AddUser&UserID='+id});
}
function delUser(id)
{
   if(confirm("Are You Sure!?")){
   $.ajax({
      type:"GET",
      url:"/UserHandler/?action=DelUser&UserID="+id,
      success:function(data){
          data=$.parseJSON(data);
          alert(data.msg);
          getUserList();
      }
      })
  }
}
function resetPwd(id)
{
     if(confirm("Are You Sure!?")){
     $.ajax({
      type:"GET",
      url:"/UserHandler/?action=ResetPwd&UserID="+id,
      success:function(data){
          data=$.parseJSON(data);
          alert(data.msg);
      }
      })
}
}
function getUserHtml(rowJson){
        var trHtml="<tr>";
        trHtml+="<td>"+rowJson["User_Name"]+"</td>";
        trHtml+="<td>"+rowJson["User_Email"]+"</td>";
        trHtml+="<td>"+rowJson["User_Level"]+"</td>";
        trHtml+="<td><a class='btn btn-info' onclick='getPrivilege("+rowJson["User_ID"]+")'>PowerList</a></td>";
        trHtml+="<td>"+rowJson["User_LastLogin"]+"</td>";
        trHtml+="<td>"
               +"<div class='btn-group'>"
               +"<a class='btn btn-primary' onclick='editUser("+rowJson["User_ID"]+")' href='#'><i class='icon-user icon-white'></i> EditUser</a>"
               +"<a class='btn btn-primary dropdown-toggle' data-toggle='dropdown' href='#'><span class='caret'></span></a>"
               +"<ul class='dropdown-menu' role='menu'>"
               +"<li><a href='#' onclick='editUser("+rowJson["User_ID"]+")'><i class='icon-pencil'></i>Edit</a></li>"
               +"<li><a href='#' onclick='resetPwd("+rowJson["User_ID"]+")'><i class='icon-ban-circle'></i> ResetPwd</a></li>"
               +"<li class='divider'></li>"
               +"<li><a href='#' onclick='delUser("+rowJson["User_ID"]+")'><i class='icon-trash'></i> Delete</a></li>"
               +"</ul>"
               +"</div>"
               +"</td>";
        trHtml+="</tr>";
        return trHtml;
    }
  function getUserList()
  {
      $("#userList > tbody").html("");
      $.ajax({
      type:"GET",
      url:"/UserHandler/?action=GetAllUserList",
      success:function(data){
          data=$.parseJSON(data);
          for(row in data)
          {
               rowHtml = getUserHtml(data[row]);
               $("#userList > tbody").append(rowHtml);
          }
      }
      })
  }
  function getPrivilege(id)
  {
      $("#treeList").css("display","");
      $(".parent_li > ul > li").find('i').addClass('icon-eye-close').removeClass('icon-eye-open');
      for (i in $("#treeList").find('input')){
          $("#treeList").find('input')[i].checked=false;
      }
      $.colorbox({inline:true,href:"#treeList",onClosed:function(){$("#treeList").css("display","none");}});
      $("#UserID").val(id);
      $.ajax({
          type:"GET",
          url:"/PrivilegeHandler/?action=GetPrivilege&UserID="+id,
          success:function(data){
              PList=data.split(",")
              for(i in PList)
              {
              $("#i"+PList[i]).removeClass("icon-eye-close").addClass("icon-eye-open");
              $("#i"+PList[i]+" ~ input")[0].checked=true;
              }
          }
      })
  }

    function submitPrivilege()
    {
        $.ajax({
            type:"Post",
            url:"/PrivilegeHandler/?action=SubmitPrivilege",
            data:$("input").serialize(),
            success:function(data){
                data=$.parseJSON(data);
                alert(data.msg);
            }
        })
    }


</script>
<div>
        <fieldset>
            <legend>用户列表</legend>
            <div><a class="btn btn-primary" id="addUserList" href="/ViewContentUnit/?action=AddUser">AddUser</a></div>
            <table id="userList" class="table">
                <thead>
                <td>UserName</td>
                <td>Mail</td>
                <td>Level</td>
                <td>Power</td>
                <td>LastLogin</td>
                <td>Edit</td>
                </thead>
                <tbody>

                </tbody>
            </table>
<form>
            <div id="treeList" class="tree well">
                <input type="hidden" name="UserID" id="UserID"/>
                <ul>
                    {% for item in MenuList %}
                    {% if item["Privilege_Parent"] == 0 %}
                    <li class="parent_li">
                        <span><i class="icon-th-list"></i> {{ item["Privilege_Name"] }}</span>
                        <ul>
                            {% for child in MenuList %}
                            {% if child["Privilege_Parent"]== item["Privilege_ID"]%}
                            <li class="child_li">
                                <span><i id="i{{ child['Privilege_ID'] }}" class="icon-eye-close"></i>  [ {{ child['Privilege_Name'] }} ]  <input
                                        name="privileges" value="{{ child['Privilege_ID'] }}" type="checkbox"></span>
                            </li>
                            {% end %}
                            {% end %}
                        </ul>
                    </li>
                    {% end %}
                    {% end %}
                </ul>
                <div style="text-align:center;float:bottom">
                    <a class="btn btn-primary" style="width:150px;" onclick="submitPrivilege()">Do it</a>
                </div>
            </div>
                </form>
        </fieldset>
</div>
{% end %}