
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>0.0</title>
  </head>

  <body>
    <h2 class="title f-m">^%&amp;^%*%#@$%!@#$!@$!@$#*&amp;)&amp;*@#@!@!。。。</h2>
    <div class="clearfix no f-m">
      <span class="f-12">嗯...不管您是肿么 <span class="f-14 f-red">"跑到这儿来的"</span> 总之系统 404 了。。。</span>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
      <td valign="middle" align="center"><img src="../static/404.jpg" width="640" height="800" border="0"></td>
    </table>
  </body>

</html>
