{% extends "base.html" %}

{{ title }}

{% block head %}
{% end %}

{% block body %}
<script type="text/javascript">
$(function(){
$("#menuUl > li").click(function(){
    toggleActive(this);
  $('#ContentFrame')[0].src="/ViewContentUnit/?action="+this.id;
}
);
})
  {% comment Active li or Deactive li %}
  function toggleActive(activeLi)
  {
    $("#menuUl > li").removeClass("active");
    $(activeLi).addClass("active");
  }
</script>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul id="menuUl" class="nav nav-list">
            <li class="nav-header">~~不要点我~~(应邀归来)</li>
            {% for item in MenuList %}
            {% if item["Privilege_Parent"] == 0 %}
                <li class="nav-header">{{ item["Privilege_Name"] }}</li>
                {% for child in MenuList %}
                {% if child["Privilege_Parent"]== item["Privilege_ID"]%}
                <li id="{{ child['Privilege_Action'] }}"><a href="#">[ {{ child['Privilege_Name'] }} ]</a></li>
                {% end %}
                {% end %}
            {% end %}
            {% end %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
{% comment iframe 实现局部刷新 %}
{% comment frameborder 控制无边框,onload 实现自适应高度 %}
<iframe name="ViewContentUnit" id="ContentFrame" src="/ViewContentUnit/" width=100%
  frameborder="0" onload="this.height=document.body.scrollHeight-177"></iframe>
 {%  comment 
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non . </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          %}
        </div><!--/span-->
      </div><!--/row-->
      <hr>

      <footer>
        <p>&copy; R1p Th4t Sh1t~~</p>
      </footer>

    </div><!--/.fluid-container-->
    {% end %}  
