
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">表单名</legend>
      </div>
    <div class="control-group">
          <!-- Select Basic -->
          <label class="control-label">Select - Basic</label>
          <div class="controls">
            <select class="input-xlarge">
      <option>Enter</option>
      <option>Your</option>
      <option>Options</option>
      <option>Here!</option></select>
          </div>
        </div><div class="control-group">
          <!-- Textarea -->
          <label class="control-label">What you done?</label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" class="" style="margin: 0px; width: 304px; height: 101px;"> </textarea>
            </div>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label">提交</label>
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Submit</button>
          </div>
        </div>
    </fieldset>
  </form>

